<form [formGroup]="LoginForm.form" (ngSubmit)="login(data)">
    <span [hidden]="!LoginForm.invalidcreds">Invalid Email/Password. Please try again.</span>
    <div>
        <label>Email:</label>
        <input formControlName="email" type="text">
        <span [hidden]="LoginForm.valid('email')">Email is required.</span>
    </div>
    <div>
        <label>Password:</label>
        <input formControlName="password" type="password">
        <span [hidden]="LoginForm.valid('password')">Password is required.</span>
    </div>
    <button type="submit">Login</button>
</form>