<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Swiftkind</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" uiSref="dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" prevdefault>Payroll</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" prevdefault>Projects</a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="navbar-nav">
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link" href="" prevdefault ngbDropdownToggle>
          {{ auth.user.display_name }}
        </a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" uiSref="profile">Profile</a>
          <a class="dropdown-item" href="" prevdefault>Messages</a>
          <a class="dropdown-item" uiSref="logout">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>